In [1]:
import pandas as pd
import yfinance as yf

In [2]:
class FinanceData():
    """
    Initializes the FinanceData object with the provided stock ticker, start date, and end date.
    Calls the getdata() method to download the financial data.

    Parameters:
    ticker (str): The stock ticker symbol.
    start (str): The start date for the financial data - in the format 'YYYY-MM-DD'.
    end (str): The end date for the financial data - in the format 'YYYY-MM-DD'.
    """
    def __init__(self, ticker, start, end):
        """
        Initializes the FinanceData object with the provided stock ticker, start date, and end date.
        Calls the getdata() method to download the financial data.

        Parameters:
        ticker (str): The stock ticker symbol.
        start (str): The start date for the financial data - in the format 'YYYY-MM-DD'.
        end (str): The end date for the financial data - in the format 'YYYY-MM-DD'.
        """
        self.ticker = ticker
        self.start = start
        self.end = end
        self.getdata()
    
    def __repr__(self):
        """
        Returns a formatted string representation of the FinanceData object,
        showing the stock ticker, start date, and end date.
        """
        return 'FinanceData for ticker {} from {} to {}'.format(self.ticker,
                                                                self.start,
                                                                self.end)
        
    def getdata(self):
        """
        Downloads the financial data from Yahoo Finance for the specified stock ticker(s)
        between the start and end dates using the yfinance library. Stores the data in
        the self.data attribute of the FinanceData object.
        """
        stock = yf.download(self.ticker, self.start, self.end)
        # if len(self.ticker) == 1:
        #     stock = stock.to_frame()
        #     stock.rename(columns = {'Adj Close' : str(self.ticker[0])}, inplace = True)
        self.data = stock
    
    def csv(self):
        """
        Writes the financial data to a CSV file named 'data.csv'.
        """
        self.data.to_csv('data.csv')

In [30]:
# ^IBEX, ^GDAXI, ^DJI
stocks_list = ['^DJI']#, '^GDAXI', '^DJI']

In [31]:
# fetching the data for the stocks_list and index_list from a given start and end date
start_date = '2011-01-01'
end_date = '2020-01-01'

# open, high, low, close dataframes
df_ohlc = FinanceData(stocks_list, start_date, end_date).data

[*********************100%***********************]  1 of 1 completed

In [32]:
df_ohlc

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-01-03,6973.390137,7026.620117,6969.830078,6989.740234,6989.740234,61893200
2011-01-04,6979.680176,7025.859863,6952.020020,6975.350098,6975.350098,87665600
2011-01-05,6966.080078,6967.240234,6842.899902,6939.819824,6939.819824,117141900
2011-01-06,6949.479980,7047.589844,6949.069824,6981.390137,6981.390137,91236400
2011-01-07,6991.549805,7010.890137,6939.879883,6947.839844,6947.839844,92626900
...,...,...,...,...,...,...
2019-12-19,13226.700195,13248.980469,13140.219727,13211.959961,13211.959961,84018200
2019-12-20,13210.259766,13324.110352,13201.799805,13318.900391,13318.900391,170723200
2019-12-23,13304.769531,13331.860352,13285.549805,13300.980469,13300.980469,56215400
2019-12-27,13338.320312,13381.440430,13311.519531,13337.110352,13337.110352,43758600
2019-12-30,13301.429688,13316.620117,13244.169922,13249.009766,13249.009766,31427400

In [33]:
df_ohlc.to_csv('data/dji.csv')